.nav-user {
  width: 200px;
  height: 100vh;
  background-color: #00274e;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  padding-top: 20px;
}

.nav-place {
  width: 200px;
  height: 100vh;
  background-color: #00274e;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-top: 20px;
}

nav header {
  margin-bottom: 10px;
  margin-left: 8px;
}

nav li {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #f0f0f0;
  transition: background-color 0.3s ease;
}

nav li:hover {
  background-color: #000c18;
}

main {
  margin-right: 220px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    position: static;
    overflow-y: visible;
  }

  main {
    margin-left: 0;
  }

  section {
    margin: 0;
  }
}

.centered-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.centered-delete {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.profile {
  z-index: 999;
}
