.header-welcomeMainPage {
  background-color: #333;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  transition: height 0.3s ease;
  z-index: 999;
}

.container-headerMainPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-iconMainPage {
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user,
.nav-profile {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
}

.nav-user ul,
.nav-profile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-user li,
.nav-profile li {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.profile,
.centered-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.content-containerMainPage {
  text-align: center;
  padding: 20px;
}

.container-bodyMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.logoSVG {
  max-width: 100%;
  height: auto;
}
