body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Quitar la barra de desplazamiento */
}

.header-welcomeMainPage {
  background-color: #333;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  transition: height 0.3s ease;
  z-index: 999;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.container-headerMainPage {
  display: flex;
  max-width: 12000px;
  max-height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-iconMainPage {
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user,
.nav-profile {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 998;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.3s ease-in-out;
  display: none; /* Hide initially */
}

.nav-user ul,
.nav-profile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-user li,
.nav-profile li {
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-user li:hover,
.nav-profile li:hover {
  background-color: #444;
}

.nav-user.expanded,
.nav-profile.expanded {
  display: block; /* Show when expanded */
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.profile,
.centered-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.main-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  margin-right: 500px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.logoSVG {
  max-width: 300px; /* Ajustar el tamaño según sea necesario */
  height: auto;
  margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}

.content-containerMainPage {
  margin-left: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
