.main-container {
  height: 70vh;
  width: 1000px;
  overflow: auto;
}

.user-header {
  background-color: #fc7a00;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-header p {
  margin: 0 15px;
  font-size: 30px;
}

.user-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.content {
  margin-top: 15px;
  padding: 40px;
}

.personality-container,
.description-container,
.gender-container,
.birthdate-container {
  margin-bottom: 40px;
}

.section-profile {
  background-color: #f0f0f0;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-profile p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 20px;
}

.section-profile form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-profile textarea,
.section-profile select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.section-profile button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  background-color: #fc7a00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.section-profile button:last-child {
  margin-right: 0;
}

.section-profile button:hover {
  background-color: #fc7a00;
}
