/* Estilos para el encabezado */
.user-header {
  background-color: #823;
  color: white;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-header p {
  margin: 0;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 30px;
}

.user-header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  margin-top: 110px;
}
