.container-register {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s linear;
}

.container-register:hover {
  background-color: rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.container-register form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-register .next {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.container-register .next input,
#phone-number {
  width: 48%;
  border-radius: 5px;
}

#phone-number {
  width: auto;
}

.container-register input,
.container-register select,
.container-register button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #727272;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}

.container-register input:hover,
.container-register select:hover {
  border: 1px solid #333;
}

.container-register button {
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container-register button:hover {
  background-color: #555;
}

.container-register input:focus {
  outline: none;
  border-color: #333;
}

.red-placeholder::placeholder {
  color: red;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}

.password-requirements {
  margin-bottom: 10px;
  position: relative;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
  padding: 5px;
  font-size: 12px;
  max-width: 300px;
}

.password-requirements ul {
  margin: 0;
  padding-left: 15px;
}

.password-requirements li {
  list-style: disc;
}

.password-requirements button {
  position: absolute;
  width: auto;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #721c24;
  cursor: pointer;
  font-size: 12px;
  padding: 0;
  line-height: 1;
}
